# Node modules
node_modules/

# Directorio de salida de TypeScript
dist/

# Archivos de configuración locales
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.vscode/
.idea/
*.tsbuildinfo

# Sistema operativo (macOS / Linux / Windows)
.DS_Store
Thumbs.db

# ts-node-dev
tmp/
